In [2]:
import pandas as pd

In [3]:
file_path = "adult.data.csv"


df = pd.read_csv(file_path)

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

df["race"].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [76]:
# Average age of men.

# Filtering the DataFrame for the Male sex
df_male = df[df["sex"] == "Male"]

# Calculate the average age of men
average_age_men = df_male["age"].mean()

# Typecasting as a float data
round(float(average_age_men), 1)

39.4

In [73]:
# Percentage of people who have a Bachelor's degree

# Filtering the DataFrame for people with a Bachelors degree
df_bachelors_degree = df[df["education"] == "Bachelors"]

# Calculate percentage
Bsc_percentage = (len(df_bachelors_degree) / len(df)) * 100

Bsc_percentage

16.44605509658794

In [12]:
len(df)

32561

In [13]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# Percentage of people with advance education (Bachelors, Masters, or Doctorate) that make more than 50K.

# Filtering the DataFrame for people with advanced education
advanced_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Filtering the DataFrame for people with advanced education who make more than 50K
advanced_education_over_50k = advanced_education[advanced_education['salary'] == '>50K']

# Calculate the percentage
adv_e_percentage_over_50k = (len(advanced_education_over_50k) / len(advanced_education)) * 100

adv_e_percentage_over_50k

46.535843011613935

In [75]:
# Percentage of people without advanced education that make more than 50K

# Filtering the DataFrame for people with advanced education
no_advanced_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Filtering the DataFrame for people with advanced education who make more than 50K
no_advanced_education_over_50k = no_advanced_education[no_advanced_education['salary'] == '>50K']

# Calculate the percentage
no_advanced_education_percentage = (len(no_advanced_education_over_50k) / len(no_advanced_education)) * 100

no_advanced_education_percentage

17.3713601914639

In [17]:
# Minimum number of hours a person works per week
min_hours = int(df["hours-per-week"].min())
min_hours

1

In [27]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

# Filtering the Dataframe for people who work the minimum hours
df_min_hours = df.loc[df["hours-per-week"] == 1]

# Filtering the DataFrame for people who earn aboove 50K
min_hours_over_50k = df_min_hours[df_min_hours["salary"] == ">50K"]

# Calculate the percentage
min_hours_percentage_over_50k = (len(min_hours_over_50k) / len(df_min_hours)) * 100

min_hours_percentage_over_50k

10.0

In [ ]:
# What country has the highest percentage of people that earn >50K and what is that percentage?

# Filtering the DataFrame to find people earning above 50k.
over_50k = df[df["salary"] == ">50K"]

# Find the highest/max occurence of the unique values in the series "native-country"
max_occurence = over_50k["native-country"].value_counts()   # .value_counts returns a series in descending order so that the first element is the most frequently-occurring element.
max_occurence.index[0]

# Finding the percentage
percentage_over_50k = (int(max_occurence.max())) / len(over_50k) * 100
percentage_over_50k

91.45517153424308

In [ ]:
# Identify the most popular occupation for those who earn >50K in India

# Filetering the over_50K DataFrame for those in India
over_50k_india = over_50k[over_50k["native-country"] == "India"]

# Calculating the most popular occupation
over_50k_india["occupation"].value_counts().index[0]    # .value_counts returns a series in descending order so that the first element is the most frequently-occurring element.

'Prof-specialty'

In [82]:
countries = df[df["native-country"] == "United-States"]
countries_over_50 = countries[countries["salary"] == ">50K"]

percentage = (len(countries_over_50) / len(countries)) * 100
percentage

24.583476174151524

In [87]:
list_of_countries = df["native-country"].value_counts().index.tolist()

len(list_of_countries)

42

In [93]:
percentages = []

In [94]:
for countries in list_of_countries:
    df_country = df[df["native-country"] == countries]
    df_country_over_50 = df_country[df_country["salary"] == ">50K"]

    percentage = (len(df_country_over_50) / len(df_country)) * 100
    percentages.append(percentage)

In [101]:
zipped = zip(percentages, list_of_countries)

In [102]:
sorted_zipped = sorted(zipped, key=lambda x:x[0], reverse=True)

sorted_zipped

[(41.86046511627907, 'Iran'),
 (41.37931034482759, 'France'),
 (40.0, 'India'),
 (39.21568627450981, 'Taiwan'),
 (38.70967741935484, 'Japan'),
 (37.5, 'Yugoslavia'),
 (36.84210526315789, 'Cambodia'),
 (34.24657534246575, 'Italy'),
 (33.33333333333333, 'England'),
 (32.231404958677686, 'Canada'),
 (32.11678832116788, 'Germany'),
 (30.808080808080806, 'Philippines'),
 (30.0, 'Hong'),
 (27.586206896551722, 'Greece'),
 (26.666666666666668, 'China'),
 (26.31578947368421, 'Cuba'),
 (25.04288164665523, '?'),
 (25.0, 'Scotland'),
 (24.583476174151524, 'United-States'),
 (23.076923076923077, 'Hungary'),
 (20.833333333333336, 'Ireland'),
 (20.0, 'South'),
 (20.0, 'Poland'),
 (16.666666666666664, 'Thailand'),
 (14.285714285714285, 'Ecuador'),
 (12.345679012345679, 'Jamaica'),
 (11.11111111111111, 'Laos'),
 (10.81081081081081, 'Portugal'),
 (10.526315789473683, 'Puerto-Rico'),
 (10.526315789473683, 'Trinadad&Tobago'),
 (9.090909090909092, 'Haiti'),
 (8.49056603773585, 'El-Salvador'),
 (7.6923076923076925, 'Honduras'),
 (7.462686567164178, 'Vietnam'),
 (6.451612903225806, 'Peru'),
 (5.88235294117647, 'Nicaragua'),
 (5.132192846034215, 'Mexico'),
 (4.6875, 'Guatemala'),
 (3.389830508474576, 'Columbia'),
 (2.857142857142857, 'Dominican-Republic'),
 (0.0, 'Outlying-US(Guam-USVI-etc)'),
 (0.0, 'Holand-Netherlands')]

In [108]:
highest = (sorted_zipped[0])[0]

In [109]:
highest

41.86046511627907

In [110]:
# Filter the dataset for people earning >50K
high_earners = df[df['salary'] == '>50K']

# Calculate the percentage of high earners per country
country_high_earners = high_earners['native-country'].value_counts()
country_total = df['native-country'].value_counts()
country_percentage = (country_high_earners / country_total) * 100

# Find the country with the highest percentage of high earners
highest_percentage_country = country_percentage.idxmax()
highest_percentage = country_percentage.max()

highest_percentage_country, highest_percentage

('Iran', np.float64(41.86046511627907))

In [113]:
country_percentage

native-country
?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: count, dtype: float64