In [28]:
import pandas as pd

In [29]:
file_path = "adult.data.csv"


df = pd.read_csv(file_path)

In [30]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [31]:
df["race"].nunique()

5

In [32]:
df["age"].mean()

np.float64(38.58164675532078)

In [44]:
counts = int(df["education"].value_counts().Bachelors)

In [43]:
counts

1723

In [50]:
total = int(df["education"].count())
total

32561

In [48]:
percentage_men = (counts / total) * 100

In [49]:
percentage_men

16.44605509658794

In [51]:
len(df)

32561

In [55]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [65]:
# Filter the DataFrame for people with advanced education
advanced_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Filter the DataFrame for people with advanced education who make more than 50K
advanced_education_over_50k = advanced_education[advanced_education['salary'] == '>50K']

# Calculate the percentage
adv_e_percentage_over_50k = (len(advanced_education_over_50k) / len(advanced_education)) * 100

adv_e_percentage_over_50k

46.535843011613935

In [66]:
no_adv_percentage_over_50k = 100 - adv_e_percentage_over_50k

In [ ]:
# Minimum number of hours a person works per week